@import '../../../../client/main.scss';

@media screen and (max-width: 700px){

    .login{

      #welcomeText{
        font-size: $p_font_size;
        font-weight: $light;
        text-align: center;
        margin-left: 32px;
        margin-right: 26px;
        line-height:22px;
        margin-top: 35px;
        margin-bottom: 30px;
        }

        .login_frontpage_buttons{
          text-align: center;
        }

        .user_button{
          background-color: $primary-green;
          border-color: $primary-green;
          border-radius:9px;
          width:275px;
          height:54px;

          font-family:Lato-Regular;
          font-size:20px;
          color:#ffffff;
          letter-spacing:0;
          text-align:center;


        }
        .login-buttons-dropdown-align-{
            text-align: center;
            font-weight: $regular;
            font-size:$button_big_font_size;

            color:$white;
        }

        .facebook_button{
          font-size:$button_big_font_size;
          background-color: $primary-purple;
          border:1px solid $white;
          font-weight: $regular;
          font-size:$button_big_font_size;
          color: $white;
          border-radius:9px;
          width:273px;
          height:52px;

          font-family:Lato-Regular;
          font-size:20px;
          color:#ffffff;
          letter-spacing:0;
          text-align:center;


        }
        .login_facebook_img{
          margin-top: auto;
          margin-left: 11px;
          float: left;
          width: 11px;
          height: 21px;
        }
        .login_button_divider{
          height: 15px;
        }

        #signUp_text{
          color: $primary-green;
          height: auto;
        }

        .accounts-dialog{
          background-color: $white;
        }


    }
  }
