@media screen and (max-width: 700px) {
  body {
    background-color: #311631;
    color: white;
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%; }
    body .burger {
      padding: 15px; }
    body .pineapple {
      display: block;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 10px;
      margin-top: 45px; }
    body h1 {
      text-align: center;
      font-size: 50px;
      font-weight: 700;
      font-family: "Lato", sans-serif;
      color: #ffffff;
      margin: 80px; }
    body h2 {
      text-align: center;
      font-family: "Roboto", sans-serif;
      font-weight: 700;
      font-size: 22px;
      color: #ffffff;
      letter-spacing: 0;
      text-align: center; }
    body h3 {
      text-align: center;
      font-family: "Roboto", sans-serif;
      font-size: 18px;
      color: #ffffff;
      letter-spacing: 0;
      text-align: center; }
    body .bryt_profile {
      background-color: #673653;
      height: 9px;
      -ms-flex-line-pack: left;
      align-content: left;
      width: 110%;
      margin-left: -15px; } }

@media screen and (max-width: 700px) {
  .login #welcomeText {
    font-size: 16px;
    font-weight: 300;
    text-align: center;
    margin-left: 32px;
    margin-right: 26px;
    line-height: 22px;
    margin-top: 35px;
    margin-bottom: 30px; }
  .login .login_frontpage_buttons {
    text-align: center; }
  .login .user_button {
    background-color: #47b39c;
    border-color: #47b39c;
    border-radius: 9px;
    width: 275px;
    height: 54px;
    font-family: Lato-Regular;
    font-size: 20px;
    color: #ffffff;
    letter-spacing: 0;
    text-align: center; }
  .login .login-buttons-dropdown-align- {
    text-align: center;
    font-weight: 400;
    font-size: 20px;
    color: #ffffff; }
  .login .facebook_button {
    font-size: 20px;
    background-color: #311631;
    border: 1px solid #ffffff;
    font-weight: 400;
    font-size: 20px;
    color: #ffffff;
    border-radius: 9px;
    width: 273px;
    height: 52px;
    font-family: Lato-Regular;
    font-size: 20px;
    color: #ffffff;
    letter-spacing: 0;
    text-align: center; }
  .login .login_facebook_img {
    margin-top: auto;
    margin-left: 11px;
    float: left;
    width: 11px;
    height: 21px; }
  .login .login_button_divider {
    height: 15px; }
  .login #signUp_text {
    color: #47b39c;
    height: auto; }
  .login .accounts-dialog {
    background-color: #ffffff; }
  .login #login-dropdown-list {
    background-color: #311631; }
  .login .login-close-text, .login .or-text, .login #login-username-label,
  .login #login-password-label, .login #signup-link {
    color: #ffffff;
    font-family: Lato-Regular;
    font-size: 16px; }
  .login #login-buttons-github, .login #login-buttons-password, .login #login-buttons-logout {
    background-color: #47b39c; } }
