@import '../../../../client/main.scss';

@media screen and (max-width: $break-small){



      .small_button{
        font-size: $p_small_font_size;
        border:1px solid $white;
        border-radius: $radius_small;
        font-weight: $regular;
        text-align: center;
        background-color: $primary-purple;
        width:81px;
        height:21px;
        color: $white;
        display: block;
        margin-top: 20px;
        margin-left: auto;
        margin-right: auto;

      }

        #firstSection{
          width: 100%;
          margin: 0;

          .rubrik_thread{
            text-align: center;
            margin-top: 30px;
            font-family: $h2_font_family;
          }

          #skapadtradav{
            text-align: center;
            margin: 0px;
            margin-top: -10px;
            font-family: $p_font_family;
            font-size: $p_font_size;
            font-weight: $thin;
          }
          #lovenbergText{
            margin-top: 40px;
            font-weight: $regular;
          }

          .person1{
            display: block;
            margin-left: auto;
            margin-right: auto;
          }

          #fraga{
            font-family: $p_font_family;
            font-size: $p_font_size;
            font-weight: $light;
            text-align:left;
            margin-left: 32px;
            margin-right: 26px;
            line-height:22px;
            margin-top: 35px;
            margin-bottom: 30px;

        }
      }
      .bryt {
        background-color: $secondary-purple;
        height: 15px;
        align-content: left;
        width: 110%;
        margin-left: -15px;
        margin-top: 20px;

      }

      .thread_sections{

        .thread_people_photo{
          border:2px solid $white;
          width:63px;
          height:63px;
          border-radius:100%;
          margin-top: 19px;
          margin-left: 17px;
          margin-right: 17px;
          float: left;
        }

        .namn { grid-area: namn; }
        .stad { grid-area: stad; }

        .grid-container1 {
          display: grid;
          float: left;
          grid-template-areas:
            'namn namn'
            'stad stad';
        }

        .namn{
          font-size: $p_font_size;
          font-weight: $bold;
          //float: left;
          margin-top: 32px;
        }

        .stad{
          font-size: $p_small_font_size;
          font-weight: $regular;
          //float: left;
          padding-top: 5px;
        }


        .check{
          float: right;
          margin-right: 10px;
          margin-top: 25px;
        }

        .betyg{
          font-size: $p_font_size;
          font-weight: $light;
          float: right;
          margin-top: 38px;
          margin-right: -11px;
        }

        .cross{
          float: right;
          margin-top: 30px;
          margin-right: -11px;
        }

        .svar{
          font-family: $p_font_family;
          font-size: $p_small_font_size;
          font-weight: $regular;
          text-align:left;
          margin-left: 20px;
          margin-top: 55px;
          margin-right: 50px;
          margin-bottom: 30px;
        }

        .like{
          margin-left: 20px;
          margin-right: 30px;
        }


      }

}
