@media screen and (max-width: 700px) {
  body {
    background-color: #311631;
    color: white;
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%; }
    body .burger {
      padding: 15px; }
    body .pineapple {
      display: block;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 10px; }
    body h1 {
      text-align: center;
      font-size: 50px;
      font-weight: 700;
      font-family: "Lato", sans-serif;
      color: #ffffff;
      margin: 80px; }
    body h2 {
      text-align: center;
      font-family: "Roboto", sans-serif;
      font-weight: 700;
      font-size: 22px;
      color: #ffffff;
      letter-spacing: 0;
      text-align: center; }
    body h3 {
      text-align: center;
      font-family: "Roboto", sans-serif;
      font-size: 18px;
      color: #ffffff;
      letter-spacing: 0;
      text-align: center; }
    body a:-webkit-any-link {
      color: white;
      text-decoration: none; }
    body .bryt_profile {
      background-color: #673653;
      height: 9px;
      -ms-flex-line-pack: left;
      align-content: left;
      width: 110%;
      margin-left: -15px; } }

@media screen and (max-width: 700px) {
  #page-wrap {
    margin-top: 70px; }
    #page-wrap .small_button {
      font-size: 14px;
      border: 1px solid #ffffff;
      border-radius: 5px;
      font-weight: 400;
      text-align: center;
      background-color: #311631;
      width: 81px;
      height: 21px;
      color: #ffffff;
      display: block;
      margin-top: 20px;
      margin-left: auto;
      margin-right: auto; }
    #page-wrap #firstSection {
      width: 100%;
      margin: 0; }
      #page-wrap #firstSection .rubrik_thread {
        text-align: center;
        margin-top: 30px;
        font-family: "Roboto", sans-serif; }
      #page-wrap #firstSection #skapadtradav {
        text-align: center;
        margin: 0px;
        margin-top: -10px;
        font-family: "Lato", sans-serif;
        font-size: 16px;
        font-weight: 100; }
      #page-wrap #firstSection #lovenbergText {
        margin-top: 40px;
        font-weight: 400; }
      #page-wrap #firstSection .person1 {
        display: block;
        margin-left: auto;
        margin-right: auto; }
      #page-wrap #firstSection #fraga {
        font-family: "Lato", sans-serif;
        font-size: 16px;
        font-weight: 300;
        text-align: left;
        margin-left: 32px;
        margin-right: 26px;
        line-height: 22px;
        margin-top: 35px;
        margin-bottom: 30px; }
    #page-wrap .bryt {
      background-color: #673653;
      height: 15px;
      -ms-flex-line-pack: left;
      align-content: left;
      width: 110%;
      margin-left: -15px;
      margin-top: 20px; }
    #page-wrap .thread_sections .thread_people_photo {
      width: 63px;
      height: 63px;
      margin-top: 19px;
      margin-left: 17px;
      margin-right: 17px;
      float: left; }
    #page-wrap .thread_sections .namn {
      grid-area: namn; }
    #page-wrap .thread_sections .stad {
      grid-area: stad; }
    #page-wrap .thread_sections .grid-container1 {
      display: grid;
      float: left;
      grid-template-areas: 'namn namn' 'stad stad'; }
    #page-wrap .thread_sections .namn {
      font-size: 16px;
      font-weight: 700;
      margin-top: 32px; }
    #page-wrap .thread_sections .stad {
      font-size: 14px;
      font-weight: 400;
      padding-top: 5px; }
    #page-wrap .thread_sections .check {
      float: right;
      margin-right: 10px;
      margin-top: 25px; }
    #page-wrap .thread_sections .betyg {
      font-size: 16px;
      font-weight: 300;
      float: right;
      margin-top: 38px;
      margin-right: -11px; }
    #page-wrap .thread_sections .cross {
      float: right;
      margin-top: 30px;
      margin-right: -11px; }
    #page-wrap .thread_sections .svar {
      font-family: "Lato", sans-serif;
      font-size: 14px;
      font-weight: 400;
      text-align: left;
      margin-left: 20px;
      margin-top: 55px;
      margin-right: 50px;
      margin-bottom: 30px; }
    #page-wrap .thread_sections .like {
      margin-left: 20px;
      margin-right: 30px; }
    #page-wrap .new-task {
      margin-bottom: 600px; }
    #page-wrap form {
      margin-top: 40px;
      margin-left: 20%; }
      #page-wrap form button {
        background-color: white;
        /* Green */
        border: none;
        border-radius: 3px;
        color: #311631;
        padding: 3px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px 2px 10px;
        clear: both;
        cursor: pointer; }
    #page-wrap .search_footer {
      margin-bottom: 0px;
      width: 100%; } }
