//COLORS
$primary-purple: #311631;
$secondary-purple: #673653;
$third-purple-purple: #B0606D;
$primary-green:#47b39c;
$yellow:#ffffff;
$peach: #ffab89;

//FONT-FAMILY
//insert <link href="https://fonts.googleapis.com/css?family=Lato:400,700" rel="stylesheet"> in html for Lato font.
//insert <link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet"> in html for Roboto font.
}
$h1_font_family: Lato Bold;
$h2_font_family: Roboto Bold;
$p_font_family: Lato Regular;
$p_small_font_family: Lato Regular;
$button_font_family: Lato;

//FONT-SIZE
$h1_font_size: 30px;
$h2_font_size: 22px;
$p_font_size: 16px;
$p_small_font_size: 14px;
$button_big_font_size: 20px;
$button_small_font_size: 16px;

//RADIUS
$radius_big: 9px;
$radius_small: 5px;
