@import '../../../../client/main.scss';
//******************** DASHBOARD *****************************
#dashboard_div{

  .dashboard_section{
    width:100%;
    background-color: $primary-purple;
  }
  //***first section*************************************
  #first_section_dashboard{
    margin-bottom: 10px;
    h1{
      margin-top: 67px;
      margin-bottom: 0px;
    }
    h2{
      margin-bottom: 19px;
      margin-top: 61px;
    }
    p{
      font-size: $p_font_size;
      font-family: $p_font_family;
      font-weight: $regular;
      text-align: center;
      margin-bottom: 80px;
    }
    .large_button{
      border:1px solid #ffffff;
      border-radius:9px;
      width:273px;
      height:52px;
      background-color: $primary-purple;
      color:$white;
      font-size: $button_big_font_size;
      text-align: center;
      margin: 0 auto;
      margin-top: 83px;
      margin-bottom: 80px;
      display: block;
    }
    .picture-grid{
      margin-left: 16px;
      margin-right: 16px;
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
      justify-content: center;
      grid-column-gap: 15px;
      grid-row-gap: 15px;
      margin-bottom: 77px;
      .grid-box{
        img{
          width: 100%;
        }
      }
    }
  }
  //***page break*****************************************************
  .page_break{
    background-color: $secondary-purple;
    width: 100%;
    height: 10px;
    display: grid;
    grid-template-columns: auto;
  }
  //***second section*************************************
  #second_section_dashboard{
    margin-bottom: 10px;
    h2{
      margin-bottom: 46px;
      margin-top: 79px;
    }
    .thread-grid{
      margin-top: 44px;
      margin-left: 16px;
      margin-right: 16px;
      display: grid;
      grid-template-columns: 20% 75% 5%;
      justify-content: center;
      grid-column-gap: 0px;
      grid-row-gap: 0px;
      margin-bottom: 77px;
      .thread-grid-box{
        margin-bottom: 20px;
        p{
          font-size: $p_font_size;
          font-family: $p_font_family;
          font-weight: $regular;
          margin-top: 12px;
          margin-left:5px;
          margin-bottom: 0px;
        }
        #p2{
          margin-top: 0px;
          font-weight: $light;
         }
        .arrow{
          margin-top: 11px;
          margin-left: 2px
        }
      }
    }
  }
  #third_section_dashboard{
    h2{
      margin-bottom: 46px;
      margin-top: 79px;
    }
    p{
      font-size:$p_font_size;
      font-family: $p_small_font_family;
      font-weight: normal;
      margin-bottom: 15px;
      margin-top:0px;
    }
    .container{
      display: grid;
      grid-template-columns: auto auto auto;
      grid-template-rows: auto auto auto;
      justify-items: center;
      margin-bottom: 78px;

      .small_button{
        font-size: $p_small_font_size;
        border:1px solid $white;
        border-radius: $radius_small;
        font-weight: $regular;
        text-align: center;
        background-color: $primary-purple;
        width:81px;
        height:21px;
        color: $white;
        display: block;
        margin:0px;
      }
      img{
        margin-bottom: 27px;
      }
    }
  }
  #fourth_section_dashboard{
    h2{
      margin-bottom: 58px;
      margin-top: 79px;
    }
    img{
      display: block;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 49px;
    }
    .textbox{
      margin: auto;
      width: 245px;
      height: auto;
      margin-bottom: 51px;
      p{
        text-align: center;
        font-size:$p_font_size;
        font-family: $p_small_font_family;
        font-weight: normal;
      }
    }
    .small_button{
      margin-bottom: 60px;
      width:81px;
      height:21px;
    }
    .outer {
      margin:auto;
      margin-right: 0px;
      .close{
        color:black;
      }
      .content{
        padding: 0px;
        margin:auto;
        padding: 10px 5px;
        p{
          margin:0px;
          color: $primary-purple;
          font-size:$p_font_size;
          font-family: $p_small_font_family;
        }
        h2{
          color: $primary-purple;
          margin-top:20px;
          margin-bottom: 30px;
        }
        .large_button{
          border:1px solid #ffffff;
          border-radius:9px;
          width:200px;
          height:40px;
          background-color: $primary-purple;
          color:$white;
          font-size: $p_small_font_size;
          text-align: center;
          margin: 0 auto;
          margin-top: 30px;
          margin-bottom: 10px;
          display: block;
        }

      }
    }
  }
  #fifth_section_dashboard{
    form{
      margin-bottom: 200px;
    }
  }
}
