//COLORS
$primary-purple: #311631;
$secondary-purple: #673653;
$third-purple-purple: #B0606D;
$primary-green:#47b39c;
$yellow: #ffc154;
$peach: #ffab89;
$white: #ffffff;
//FONT-FAMILY
//insert <link href="https://fonts.googleapis.com/css?family=Lato:400,700" rel="stylesheet"> in html for Lato font.
//insert <link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet"> in html for Roboto font.
$h1_font_family: 'Lato', sans-serif;
$h2_font_family: 'Roboto', sans-serif;
$h3_font_family: 'Roboto', sans-serif;
$h4_font_family: 'Roboto', sans-serif;
$p_font_family: 'Lato', sans-serif;
$p_small_font_family: 'Lato', sans-serif;
$button_font_family: 'Lato', sans-serif;

//FONT-SIZE
$h1_font_size: 50px;
$h2_font_size: 22px;
$h3_font_size: 18px;
$h4_font_size: 18px;
$p_font_size: 16px;
$p_small_font_size: 14px;
$button_big_font_size: 20px;
$button_small_font_size: 16px;

//FONT-WEIGHT
$thin: 100;
$light: 300;
$regular: 400;
$bold: 700;
$light: 300;

//RADIUS
$radius_big: 9px;
$radius_small: 5px;

//Responsive
$break-small: 700px;
@media screen and (max-width: $break-small){
  body{
    background-color: $primary-purple;
    color: white;
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;


    .burger{
      padding: 15px;
    }
    .pineapple{
      display: block;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 10px;
      margin-top: 45px;
    }

    h1{
      text-align: center;
      font-size: $h1_font_size;
      font-weight: $bold;
      font-family:$h1_font_family;
      color:$white;
      margin: 80px;
    }
    h2{
      text-align: center;
      font-family: $h2_font_family;
      font-weight: $bold;
      font-size:$h2_font_size;
      color:$white;
      letter-spacing:0;
      text-align:center;
    }
    }
    h3{
      text-align: center;
      font-family: $h2_font_family;
      font-size:$h3_font_size;
      color:$white;
      letter-spacing:0;
      text-align:center;
    }
    //******************** DASHBOARD *****************************
    #dashboard_div{
      .dashboard_section{
        width:100%;
        background-color: $primary-purple;
      }
      //***first section*************************************
      #first_section_dashboard{
        margin-bottom: 10px;
        h1{
          margin-top: 67px;
        }
        h2{
          margin-bottom: 19px;
          margin-top: 61px;
        }
        .large_button{
          border:1px solid #ffffff;
          border-radius:9px;
          width:273px;
          height:52px;
          background-color: $primary-purple;
          color:$white;
          font-size: $button_big_font_size;
          text-align: center;
          margin: 0 auto;
          margin-top: 83px;
          margin-bottom: 80px;
          display: block;
        }
        .picture-grid{
          margin-left: 16px;
          margin-right: 16px;
          display: grid;
          grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
          justify-content: center;
          grid-column-gap: 15px;
          grid-row-gap: 15px;
          margin-bottom: 77px;
          .grid-box{
            img{
              width: 100%;
            }
          }
        }
      }
      //***page break*****************************************************
      .page_break{
        background-color: $secondary-purple;
        width: 100%;
        height: 10px;
        display: grid;
        grid-template-columns: auto;
      }
      //***second section*************************************
      #second_section_dashboard{
        margin-bottom: 10px;
        h2{
          margin-bottom: 44px;
          margin-top: 61px;
        }
        .thread-grid{
          margin-top: 44px;
          margin-left: 16px;
          margin-right: 16px;
          display: grid;
          grid-template-columns: 20% 75% 5%;
          justify-content: center;
          grid-column-gap: 0px;
          grid-row-gap: 0px;
          margin-bottom: 77px;
          .thread-grid-box{
            margin-bottom: 20px;
            p{
              font-size: $p_font_size;
              font-family: $p_font_family;
              font-weight: $regular;
              margin-top: 12px;
              margin-left:5px;
              margin-bottom: 0px;
            }
            #p2{
              margin-top: 0px;
              font-weight: $light;
             }
            .arrow{
              margin-top: 11px;
              margin-left: 2px
            }
          }
        }
      }
    }
    //******************** Thread *****************************


    .small_button{
      font-size: $p_small_font_size;
      border:1px solid $white;
      border-radius: $radius_small;
      font-weight: $regular;
      text-align: center;
      background-color: $primary-purple;
      width:81px;
      height:21px;
      color: $white;
      display: block;
      margin-top: 20px;
      margin-left: auto;
      margin-right: auto;

    }

      #firstSection{
        width: 100%;
        margin: 0;

        .rubrik_thread{
          text-align: center;
          margin-top: 30px;
        }

        #skapadtradav{
          text-align: center;
          margin: 0px;
          margin-top: -10px;
          font-family: $p_font_family;
          font-size: $p_font_size;
          font-weight: $thin;
        }
        #lovenbergText{
          margin-top: 40px;
          font-weight: $regular;
        }

        .person1{
          display: block;
          margin-left: auto;
          margin-right: auto;
        }

        #fraga{
          font-size: $p_font_size;
          font-weight: $light;
          text-align:left;
          margin-left: 32px;
          margin-right: 26px;
          line-height:22px;
          margin-top: 35px;
          margin-bottom: 30px;

      }
    }
    .bryt {
      background-color: $secondary-purple;
      height: 15px;
      align-content: left;
      width: 110%;
      margin-left: -15px;

    }

    .thread_sections{

      .thread_people_photo{
        border:2px solid $white;
        width:63px;
        height:63px;
        border-radius:100%;
        margin-top: 19px;
        margin-left: 8px;
        margin-right: 17px;
        float: left;
      }

      .namn { grid-area: namn; }
      .stad { grid-area: stad; }

      .grid-container1 {
        display: grid;
        float: left;
        grid-template-areas:
          'namn namn'
          'stad stad';
      }

      .namn{
        font-size: $p_font_size;
        font-weight: $bold;
        //float: left;
        margin-top: 32px;
      }

      .stad{
        font-size: $p_small_font_size;
        font-weight: $regular;
        //float: left;
        padding-top: 5px;
      }


      .check{
        float: right;
        margin-right: 10px;
        margin-top: 25px;
      }

      .betyg{
        font-size: $p_font_size;
        font-weight: $light;
        float: right;
        margin-top: 38px;
        margin-right: -11px;
      }

      .cross{
        float: right;
        margin-top: 30px;
        margin-right: -11px;
      }

      .svar{
        font-size: $p_small_font_size;
        font-weight: $light;
        text-align:left;
        margin-left: 20px;
        margin-top: 55px;
        margin-right: 50px;
        margin-bottom: 50px;
      }

    }


    //******************** Login *****************************

    .login{

      #welcomeText{
        font-size: $p_font_size;
        font-weight: $light;
        text-align: center;
        margin-left: 32px;
        margin-right: 26px;
        line-height:22px;
        margin-top: 35px;
        margin-bottom: 30px;
        }

        .login_frontpage_buttons{
          text-align: center;
        }
        .user_button{
          background-color: $primary-green;
          border-color: $primary-green;
          border-radius: 10px;
          height: 10%;
          width: 80%;

        }
        .facebook_button{
          background-color: $primary-purple;
          border-color: $white;
          border-radius: 10px;
          width: 80%;
        }
        .login_facebook_img{
          float: left;
          margin-left: 15px;
          margin-top: 15px;
        }
        .login_button_divider{
          height: 15px;
        }

        #signUp_text{
          color: $primary-green;
          height: auto;

        }

        .accounts-dialog{
          background-color: $white;
        }

        .login-buttons-dropdown-align-{
            text-align: center;
            font-family: $h2_font_family;
            font-size:$h3_font_size;
            color:$white;
        }
    }




    //******************** Profile *****************************

    .bryt_profile {
      background-color: $secondary-purple;
      height: 9px;
      align-content: left;
      width: 110%;
      margin-left: -15px;

    }

    #first_profile_section{

      .rubrik{
        font-size: $h2_font_size;
        font-weight: $regular;
        font-family: $h2_font_family;

      }

      .tradantal { grid-area: tradantal; }
      .tradar { grid-area: tradar; }
      .34k { grid-area: tusen; }
      .foljare { grid-area: foljare; }
      .antalfoljer { grid-area: antalfoljer; }
      .foljer { grid-area: foljer; }

      #profilbild_profile{
        float: left;
      }

      .grid-container_profile1 {
        display: grid;
        float: left;
        grid-template-areas:
          ' tradantal tusen antalfoljer'
          ' tradar foljare foljer'
          ' tradar foljare foljer';
      }

    }
    //******************** SEARCH *****************************
    .search{
      .search_section{
        width:100%;
      }

      #search_first_section{
        .search_wrapper {
          display: flex;
          align-items: center;
          justify-content: center;

          .search_large_button{
            text-align: center;
            background-color: $primary-purple;
            color: $white;
            border:1px solid $white;
            border-radius: $radius_big;
            font-size:$button_big_font_size;
            font-weight: $regular;
            width:273px;
            height:52px;
            margin-top: 83px;
          }
        }

        .search_wrapper {
          display: flex;
          align-items: center;
          justify-content: center;
          height: 200px;
          margin-left: 50px;
          margin-right: 50px;

          p{
            text-align: center;
            margin: 0px;
            margin-top: -10px;
            font-family: $p_font_family;
            font-size: $p_font_size;
            font-weight: $thin;
          }
        }

        .search_footer{
          position: fixed;
          bottom: 0;
          width: 100%;
        }
      }
    }
    //******************** SEARCH-RESULTS *****************************
    .search_result{
      .searchresult_section{
        width:100%;
      }

      #searchresult_first_section{
        .searchresult_wrapper {
          display: flex;
          align-items: center;
          justify-content: center;

          .searchresult_large_button{
            text-align: center;
            background-color: $primary-purple;
            color: $white;
            border:1px solid $white;
            border-radius: $radius_big;
            font-size:$button_big_font_size;
            font-weight: $regular;
            width:273px;
            height:52px;
            margin-top: 83px;
          }
        }
      }
      #searchresult_second_section{
        margin-top: 83px;
        .searchresult_thread {
          float: left;

          .searchresult_people_photo{
            border:2px solid $white;
            width:63px;
            height:63px;
            border-radius:100%;
            margin-top: 19px;
            margin-left: 8px;
            margin-right: 17px;
            float: left;
          }

          .rubrik { grid-area: rubrik; }
          .kategori { grid-area: kategori; }

          .searchresult_grid-container1 {
            display: grid;
            float: left;
            grid-template-areas:
              'rubrik rubrik'
              'kategori kategori';
          }

          .rubrik{
            font-size: $p_font_size;
            font-weight: $bold;
            //float: left;
            margin-top: 32px;
          }

          .kategori{
            font-size: $p_small_font_size;
            font-weight: $regular;
            //float: left;
            padding-top: 5px;
          }
        }

        .searchresult_footer{
          position: fixed;
          bottom: 0;
          width: 100%;
        }
      }
    }
  }
}
