@media screen and (max-width: 700px) {
  body {
    background-color: #311631;
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%; }
    body .burger {
      padding: 15px; }
    body .pineapple {
      display: block;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 10px;
      margin-top: 45px; }
    body h1 {
      text-align: center;
      font-size: 50px;
      font-weight: 700;
      font-family: "Lato", sans-serif;
      color: #ffffff;
      margin: 80px; }
    body h2 {
      text-align: center;
      font-family: "Roboto", sans-serif;
      font-weight: 700;
      font-size: 22px;
      color: #ffffff;
      letter-spacing: 0;
      text-align: center; }
  h3 {
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    color: #ffffff;
    letter-spacing: 0;
    text-align: center; }
  .small_button {
    font-size: 14px;
    border: 1px solid #ffffff;
    border-radius: 5px;
    font-weight: 400;
    text-align: center;
    background-color: #311631;
    width: 81px;
    height: 21px;
    color: #ffffff;
    display: block;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto; }
  #firstSection {
    width: 100%;
    margin: 0; }
    #firstSection .rubrik_thread {
      text-align: center;
      margin-top: 30px; }
    #firstSection #skapadtradav {
      text-align: center;
      margin: 0px;
      margin-top: -10px;
      font-family: "Lato", sans-serif;
      font-size: 16px;
      font-weight: 100; }
    #firstSection #lovenbergText {
      margin-top: 40px;
      font-weight: 400; }
    #firstSection .person1 {
      display: block;
      margin-left: auto;
      margin-right: auto; }
    #firstSection #fraga {
      font-size: 16px;
      font-weight: 300;
      text-align: left;
      margin-left: 32px;
      margin-right: 26px;
      line-height: 22px;
      margin-top: 35px;
      margin-bottom: 30px; }
  .bryt {
    background-color: #673653;
    height: 15px;
    -ms-flex-line-pack: left;
    align-content: left;
    width: 110%;
    margin-left: -15px; }
  .thread_sections .thread_people_photo {
    border: 2px solid #ffffff;
    width: 63px;
    height: 63px;
    border-radius: 100%;
    margin-top: 19px;
    margin-left: 8px;
    margin-right: 17px;
    float: left; }
  .thread_sections .namn {
    grid-area: namn; }
  .thread_sections .stad {
    grid-area: stad; }
  .thread_sections .grid-container1 {
    display: grid;
    float: left;
    grid-template-areas: 'namn namn' 'stad stad'; }
  .thread_sections .namn {
    font-size: 16px;
    font-weight: 700;
    margin-top: 32px; }
  .thread_sections .stad {
    font-size: 14px;
    font-weight: 400;
    padding-top: 5px; }
  .thread_sections .check {
    float: right;
    margin-right: 10px;
    margin-top: 25px; }
  .thread_sections .betyg {
    font-size: 16px;
    font-weight: 300;
    float: right;
    margin-top: 38px;
    margin-right: -11px; }
  .thread_sections .cross {
    float: right;
    margin-top: 30px;
    margin-right: -11px; }
  .thread_sections .svar {
    font-size: 14px;
    font-weight: 300;
    text-align: left;
    margin-left: 20px;
    margin-top: 55px;
    margin-right: 50px;
    margin-bottom: 50px; }
  .login #welcomeText {
    font-size: 16px;
    font-weight: 300;
    text-align: center;
    margin-left: 32px;
    margin-right: 26px;
    line-height: 22px;
    margin-top: 35px;
    margin-bottom: 30px; }
  .login .login_frontpage_buttons {
    text-align: center; }
  .login .user_button {
    background-color: #47b39c;
    border-color: #47b39c;
    border-radius: 10px;
    height: 10%;
    width: 80%; }
  .login .facebook_button {
    background-color: #311631;
    border-color: #ffffff;
    border-radius: 10px;
    width: 80%; }
  .login .login_facebook_img {
    float: left;
    margin-left: 15px;
    margin-top: 15px; }
  .login .login_button_divider {
    height: 15px; }
  .login #signUp_text {
    color: #47b39c;
    height: auto; }
  .login .accounts-dialog {
    background-color: #ffffff; }
  .login .login-buttons-dropdown-align- {
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    color: #ffffff; }
  .bryt_profile {
    background-color: #673653;
    height: 9px;
    -ms-flex-line-pack: left;
    align-content: left;
    width: 110%;
    margin-left: -15px; }
  #first_profile_section .rubrik {
    font-size: 22px;
    font-weight: 400;
    font-family: "Roboto", sans-serif; }
  #first_profile_section .tradantal {
    grid-area: tradantal; }
  #first_profile_section .tradar {
    grid-area: tradar; }
  #first_profile_section .trefyra {
    grid-area: tusen; }
  #first_profile_section .foljare {
    grid-area: foljare; }
  #first_profile_section .antalfoljer {
    grid-area: antalfoljer; }
  #first_profile_section .foljer {
    grid-area: foljer; }
  #first_profile_section #profilbild_profile {
    float: left;
    margin-left: 20px;
    margin-top: 20px; }
  #first_profile_section .grid-container_profile1 {
    display: grid;
    grid-gap: 10px;
    margin-top: 20px;
    padding: 10px;
    float: left;
    grid-template-areas: ' tradantal tusen antalfoljer' ' tradar foljare foljer' ' tradar foljare foljer'; }
  .search .search_section {
    width: 100%; }
  .search #search_first_section .search_wrapper {
    float: left; }
  #first_profile_section .grid-container_profile1 {
    display: grid;
    float: left;
    grid-template-areas: ' tradantal tusen antalfoljer' ' tradar foljare foljer' ' tradar foljare foljer'; }
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
    .search #search_first_section .search_wrapper .search_large_button {
      text-align: center;
    justify-content: center;
      background-color: #311631;
      color: #ffffff;
      border: 1px solid #ffffff;
      border-radius: 9px;
      font-size: 20px;
      font-weight: 400;
      width: 273px;
      height: 52px;
      margin-top: 83px; }
  .search #search_first_section .search_wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    height: 200px;
    margin-left: 50px;
    margin-right: 50px; }
    .search #search_first_section .search_wrapper p {
      text-align: center;
      font-family: "Roboto", sans-serif;
      font-size: 18px;
      color: #ffffff;
      border: 1px solid #ffffff;
      border-radius: 9px;
      font-size: 20px;
      font-weight: 400;
      width: 273px;
      height: 52px;
      margin-top: 83px; }
  .search_result #searchresult_second_section {
    margin-top: 83px; }
    .search_result #searchresult_second_section .searchresult_thread {
      float: left; }
      .search_result #searchresult_second_section .searchresult_thread .searchresult_people_photo {
        border: 2px solid #ffffff;
        width: 63px;
        height: 63px;
        border-radius: 100%;
        margin-top: 19px;
        margin-left: 8px;
        margin-right: 17px;
        float: left; }
      .search_result #searchresult_second_section .searchresult_thread .rubrik {
        grid-area: rubrik; }
      .search_result #searchresult_second_section .searchresult_thread .kategori {
        grid-area: kategori; }
      .search_result #searchresult_second_section .searchresult_thread .searchresult_grid-container1 {
        display: grid;
        float: left;
        grid-template-areas: 'rubrik rubrik' 'kategori kategori'; }
      .search_result #searchresult_second_section .searchresult_thread .rubrik {
        font-size: 16px;
        font-weight: 700;
        margin-top: 32px; }
      .search_result #searchresult_second_section .searchresult_thread .kategori {
        font-size: 14px;
        font-weight: 400;
        padding-top: 5px; }
    .search_result #searchresult_second_section .searchresult_footer {
      position: fixed;
      bottom: 0;
      width: 100%; }
