//COLORS
$primary-purple: #311631;
$secondary-purple: #673653;
$third-purple-purple: #B0606D;
$primary-green:#47b39c;
$yellow: #ffc154;
$peach: #ffab89;
$white: #ffffff;
//FONT-FAMILY
//insert <link href="https://fonts.googleapis.com/css?family=Lato:400,700" rel="stylesheet"> in html for Lato font.
//insert <link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet"> in html for Roboto font.
$h1_font_family: 'Lato', sans-serif;
$h2_font_family: 'Roboto', sans-serif;
$h3_font_family: 'Roboto', sans-serif;
$h4_font_family: 'Roboto', sans-serif;
$p_font_family: 'Lato', sans-serif;
$p_small_font_family: 'Lato', sans-serif;
$button_font_family: 'Lato', sans-serif;

//FONT-SIZE
$h1_font_size: 50px;
$h2_font_size: 22px;
$h3_font_size: 18px;
$h4_font_size: 18px;
$p_font_size: 16px;
$p_small_font_size: 14px;
$button_big_font_size: 20px;
$button_small_font_size: 16px;

//FONT-WEIGHT
$thin: 100;
$light: 300;
$regular: 400;
$bold: 700;
$light: 300;

//RADIUS
$radius_big: 9px;
$radius_small: 5px;

//Responsive
$break-small: 700px;
@media screen and (max-width: $break-small){
  body{
    background-color: $primary-purple;
    color:white;
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;


    .burger{
      padding: 15px;
    }
    .pineapple{
      display: block;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 10px;
      margin-top: 45px;
    }

    h1{
      text-align: center;
      font-size: $h1_font_size;
      font-weight: $bold;
      font-family:$h1_font_family;
      color:$white;
      margin: 80px;
    }
    h2{
      text-align: center;
      font-family: $h2_font_family;
      font-weight: $bold;
      font-size:$h2_font_size;
      color:$white;
      letter-spacing:0;
      text-align:center;
    }

    h3{
      text-align: center;
      font-family: $h2_font_family;
      font-size:$h3_font_size;
      color:$white;
      letter-spacing:0;
      text-align:center;
    }

    //******************** Thread *****************************


    //******************** Login *****************************

    .bryt_profile {
      background-color: $secondary-purple;
      height: 9px;
      align-content: left;
      width: 110%;
      margin-left: -15px;
    }

    //******************** Profile *****************************

    //******************** SEARCH *****************************

    //******************** SEARCH-RESULTS *****************************
    }
  }
