@media screen and (max-width: 700px) {
  body {
    background-color: #311631;
    color: white; }
    body .burger {
      padding: 15px; }
    body .pineapple {
      display: block;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 10px;
      margin-top: 45px; }
    body h1 {
      text-align: center;
      font-size: 50px;
      font-weight: 700;
      font-family: "Lato", sans-serif;
      color: #ffffff;
      margin: 80px; }
    body h2 {
      text-align: center;
      font-family: "Roboto", sans-serif;
      font-weight: 700;
      font-size: 22px;
      color: #ffffff;
      letter-spacing: 0;
      text-align: center; }
    body h3 {
      text-align: center;
      font-family: "Roboto", sans-serif;
      font-size: 18px;
      color: #ffffff;
      letter-spacing: 0;
      text-align: center; }
    body div .dashboard_section {
      width: 100%; }
    body div #first_section .large_button {
      text-align: center;
      background-color: #311631;
      color: #ffffff;
      border: 1px solid #ffffff;
      border-radius: 9px;
      font-size: 20px;
      font-weight: 400;
      width: 273px;
      height: 52px;
      margin-top: 83px; }
    body div #first_section .grid-container {
      display: grid;
      grid-template-columns: auto auto auto auto;
      grid-gap: 10px;
      padding: 10px; }
    body div #first_section .row {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      padding: 0 4px; }
      body div #first_section .row .column {
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        -webkit-box-flex: 100%;
        -ms-flex: 100%;
        flex: 100%;
        max-width: 100%;
        padding: 0 4px; }
        body div #first_section .row .column img {
          vertical-align: middle; }
        body div #first_section .row .column #second_img {
          padding-left: d 4px; }
    body .small_button {
      font-size: 14px;
      border: 1px solid #ffffff;
      border-radius: 5px;
      font-weight: 400;
      text-align: center;
      background-color: #311631;
      width: 81px;
      height: 21px;
      color: #ffffff;
      display: block;
      margin-top: 20px;
      margin-left: auto;
      margin-right: auto; }
    body #firstSection {
      width: 100%;
      margin: 0; }
      body #firstSection .rubrik_thread {
        text-align: center;
        margin-top: 30px; }
      body #firstSection #skapadtradav {
        text-align: center;
        margin: 0px;
        margin-top: -10px;
        font-family: "Lato", sans-serif;
        font-size: 16px;
        font-weight: 100; }
      body #firstSection #lovenbergText {
        margin-top: 40px;
        font-weight: 400; }
      body #firstSection .person1 {
        display: block;
        margin-left: auto;
        margin-right: auto; }
      body #firstSection #fraga {
        font-size: 16px;
        font-weight: 300;
        text-align: left;
        margin-left: 32px;
        margin-right: 26px;
        line-height: 22px;
        margin-top: 35px;
        margin-bottom: 30px; }
    body .bryt {
      background-color: #673653;
      height: 15px;
      -ms-flex-line-pack: left;
      align-content: left;
      width: 110%;
      margin-left: -15px; }
    body .thread_sections .thread_people_photo {
      border: 2px solid #ffffff;
      width: 63px;
      height: 63px;
      border-radius: 100%;
      margin-top: 19px;
      margin-left: 8px;
      margin-right: 17px;
      float: left; }
    body .thread_sections .namn {
      grid-area: namn; }
    body .thread_sections .stad {
      grid-area: stad; }
    body .thread_sections .grid-container1 {
      display: grid;
      float: left;
      grid-template-areas: 'namn namn' 'stad stad'; }
    body .thread_sections .namn {
      font-size: 16px;
      font-weight: 700;
      margin-top: 32px; }
    body .thread_sections .stad {
      font-size: 14px;
      font-weight: 400;
      padding-top: 5px; }
    body .thread_sections .check {
      float: right;
      margin-right: 10px;
      margin-top: 25px; }
    body .thread_sections .betyg {
      font-size: 16px;
      font-weight: 300;
      float: right;
      margin-top: 38px;
      margin-right: -11px; }
    body .thread_sections .cross {
      float: right;
      margin-top: 30px;
      margin-right: -11px; }
    body .thread_sections .svar {
      font-size: 14px;
      font-weight: 300;
      text-align: left;
      margin-left: 20px;
      margin-top: 55px;
      margin-right: 50px;
      margin-bottom: 50px; }
    body div #welcomeText {
      font-size: 16px;
      font-weight: 300;
      text-align: center;
      margin-left: 32px;
      margin-right: 26px;
      line-height: 22px;
      margin-top: 35px;
      margin-bottom: 30px; }
    body div .login_frontpage_buttons {
      text-align: center; }
    body div .user_button {
      background-color: #47b39c;
      border-color: #47b39c;
      border-radius: 10px;
      height: 10%;
      width: 80%; }
    body div .facebook_button {
      background-color: #311631;
      border-color: #ffffff;
      border-radius: 10px;
      width: 80%; }
    body div .login_facebook_img {
      float: left;
      margin-left: 15px;
      margin-top: 15px; }
    body div .login_button_divider {
      height: 15px; }
    body div #signUp_text {
      color: #47b39c;
      height: auto; }
    body .bryt_profile {
      background-color: #673653;
      height: 9px;
      -ms-flex-line-pack: left;
      align-content: left;
      width: 110%;
      margin-left: -15px; }
    body #first_profile_section .rubrik {
      font-size: 22px;
      font-weight: 400;
      font-family: "Roboto", sans-serif; }
    body #first_profile_section .tradantal {
      grid-area: tradantal; }
    body #first_profile_section .tradar {
      grid-area: tradar; }
    body #first_profile_section .34k {
      grid-area: tusen; }
    body #first_profile_section .foljare {
      grid-area: foljare; }
    body #first_profile_section .antalfoljer {
      grid-area: antalfoljer; }
    body #first_profile_section .foljer {
      grid-area: foljer; }
    body #first_profile_section #profilbild_profile {
      float: left; }
    body #first_profile_section .grid-container_profile1 {
      display: grid;
      float: left;
      grid-template-areas: ' tradantal tusen antalfoljer' ' tradar foljare foljer' ' tradar foljare foljer'; } }
