//COLORS
$primary-purple: #311631;
$secondary-purple: #673653;
$third-purple-purple: #B0606D;
$primary-green:#47b39c;
$yellow: #ffc154;
$peach: #ffab89;
$white: #ffffff;
//FONT-FAMILY
//insert <link href="https://fonts.googleapis.com/css?family=Lato:400,700" rel="stylesheet"> in html for Lato font.
//insert <link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet"> in html for Roboto font.
$h1_font_family: 'Lato', sans-serif;
$h2_font_family: 'Roboto', sans-serif;
$p_font_family: 'Lato', sans-serif;
$p_small_font_family: 'Lato', sans-serif;
$button_font_family: 'Lato', sans-serif;

//FONT-SIZE
$h1_font_size: 30px;
$h2_font_size: 22px;
$p_font_size: 16px;
$p_small_font_size: 14px;
$button_big_font_size: 20px;
$button_small_font_size: 16px;

//FONT-WEIGHT
$regular: 400;
$bold: 700;

//RADIUS
$radius_big: 9px;
$radius_small: 5px;

//Responsive
$break-small: 700px;
  @media screen and (max-width: $break-small) {
  body{
    background-color: $primary-purple;

    h1{
      text-align:center;
      font-size: $h1_font_size;
      font-weight: $bold;
      font-family:$h1_font_family;
      color:$white;
      margin:0;
      margin-top: 70px;
    }
    h2{
      text-align: center;
      font-family: $h2_font_family;
      font-weight: $bold;
      font-size:$h2_font_size;
      color:$white;
      letter-spacing:0;
      text-align:center;
      margin-top: 80px;
    }

    //******************** DASHBOARD *****************************
    div{
      .dashboard_section{
        width:100%;
      }
      #first_section{
        .large_button{
          text-align: center;
          background-color: $primary-purple;
          color: $white;
          border:1px solid $white;
          border-radius: $radius_big;
          font-size:$button_big_font_size;
          font-weight: $regular;
          width:273px;
          height:52px;
          margin-top: 83px;
        }
        .row {
          display: flex;
          flex-wrap: wrap;
          padding: 0 4px;

          .column {
            box-sizing: border-box;
            flex: 100%;
            max-width: 100%;
            padding: 0 4px;

            img {
                vertical-align: middle;
            }
            #second_img{
              padding-left: 4px;
            }
          }
        }
      }
    }
  }
}
