@media screen and (max-width: 700px) {
  body {
    background-color: #311631;
    color: white;
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%; }
    body .burger {
      padding: 15px; }
    body .pineapple {
      display: block;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 10px;
      margin-top: 45px; }
    body h1 {
      text-align: center;
      font-size: 50px;
      font-weight: 700;
      font-family: "Lato", sans-serif;
      color: #ffffff;
      margin: 80px; }
    body h2 {
      text-align: center;
      font-family: "Roboto", sans-serif;
      font-weight: 700;
      font-size: 22px;
      color: #ffffff;
      letter-spacing: 0;
      text-align: center; }
    body h3 {
      text-align: center;
      font-family: "Roboto", sans-serif;
      font-size: 18px;
      color: #ffffff;
      letter-spacing: 0;
      text-align: center; }
    body a:-webkit-any-link {
      color: white;
      text-decoration: none; }
    body .bryt_profile {
      background-color: #673653;
      height: 9px;
      -ms-flex-line-pack: left;
      align-content: left;
      width: 110%;
      margin-left: -15px; } }

@media screen and (max-width: 700px) {
  .search_result .searchresult_section {
    width: 100%; }
  .search_result #page-wrap {
    margin-top: 70px; }
    .search_result #page-wrap #searchresult_first_section {
      padding-top: 50px; }
      .search_result #page-wrap #searchresult_first_section .searchresult_wrapper {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center; }
        .search_result #page-wrap #searchresult_first_section .searchresult_wrapper .searchresult_large_button {
          text-align: center;
          background-color: #311631;
          color: #ffffff;
          border: 1px solid #ffffff;
          border-radius: 9px;
          font-size: 20px;
          font-weight: 400;
<<<<<<< HEAD
          margin-top: 12px;
          margin-left: 5px;
          margin-bottom: 0px; }
        .search_result #searchresult_second_section .searchresult-grid .searchresult-grid-box #p2 {
          margin-top: 0px;
          font-weight: 300; }
        .search_result #searchresult_second_section .searchresult-grid .searchresult-grid-box .arrow {
          margin-top: 11px;
          margin-left: 2px; }
    .search_result #searchresult_second_section .search_footer {
      position: fixed;
      bottom: 0;
      width: 100%; } }
=======
          width: 273px;
          height: 52px;
          margin-top: 83px; }
    .search_result #page-wrap #searchresult_second_section {
      margin-bottom: 10px; }
      .search_result #page-wrap #searchresult_second_section .searchresult-grid {
        margin-top: 44px;
        margin-left: 16px;
        margin-right: 16px;
        display: grid;
        grid-template-columns: 20% 75% 5%;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        margin-bottom: 77px; }
        .search_result #page-wrap #searchresult_second_section .searchresult-grid .searchresult-grid-box {
          margin-bottom: 20px; }
          .search_result #page-wrap #searchresult_second_section .searchresult-grid .searchresult-grid-box p {
            font-size: 16px;
            font-family: "Lato", sans-serif;
            font-weight: 400;
            margin-top: 12px;
            margin-left: 5px;
            margin-bottom: 0px; }
          .search_result #page-wrap #searchresult_second_section .searchresult-grid .searchresult-grid-box #p2 {
            margin-top: 0px;
            font-weight: 300; }
          .search_result #page-wrap #searchresult_second_section .searchresult-grid .searchresult-grid-box .arrow {
            margin-top: 11px;
            margin-left: 2px; }
      .search_result #page-wrap #searchresult_second_section .searchresult_footer {
        position: absolute;
        bottom: 0px;
        width: 100%; } }
>>>>>>> 8fa332c1b44f67e3f87442f1e036515ec777a491
