/**** BURGER MENU ***/
    /* Position and sizing of burger button */
    .bm-burger-button {
      position: absolute;
      width: 26px;
      height: 30px;
      left: 25px;
      top: 22px;
      bottom: 28px;
    }

    /* Color/shape of burger icon bars */
    .bm-burger-bars {
      background: white;
    }

    /* Position and sizing of clickable cross button */
    .bm-cross-button {
      height: 24px;
      width: 24px;
    }

    /* Color/shape of close button cross */
    .bm-cross {
      background: white;
    }

    /* General sidebar styles */
    .bm-menu {
      background: #673653;
      padding: 2.5em 1.5em 5;
      font-size: 22px;
      font-family: 'Roboto', sans-serif;
      font-weight: bold;
    }

    /* Morph shape necessary with bubble or elastic */
    .bm-morph-shape {
      fill: #373a47;
    }

    /* Wrapper for item list */
    .bm-item-list {
      color: #b8b7ad;
      padding: .0em;
    }

    /* Styling of overlay */
    .bm-overlay {
      background: rgba(0, 0, 0, 0.3);
    }

    .menu-item {
      padding: 8px;
      display: block;
      align-items: baseline;

    }
